doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Landing Page - Start Bootstrap Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css2?family=Kablammo&family=Oswald:wght@200..700&display=swap', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css2?family=Kablammo&family=LXGW+WenKai+Mono+TC&family=Oswald:wght@200..700&display=swap', rel='stylesheet', type='text/css')
        
        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-light.bg-light.static-top
            .container
                a.funky-font.navbar-brand(href='#!') Малката Градина
                a.btn.btn-primary(href='#contacts') Контакти

        // Masthead
        header.masthead
            .container.position-relative
                .row.justify-content-center
                    .col-xl-8
                        .text-center.text-white
                            // Page heading
                            h3.mt-5 Добре дошли в
                            h1.funky-font.mb-4 МАЛКАТА ГРАДИНА!
                            h2.mb-5 където кипят игри и изследователски дух

        // Icons Grid
        section.features-icons.bg-light.text-center
            .container
                .row
                    h4.mb-3 Скъпи родители, ако все още не сте избрали най-подходящото място за отглеждането, възпитанието, забавлението и развитието на детето ви, може да се доверите на детски център “Малката градина” с целогодишен прием в кв. Витоша и два филиала в Манастирски ливади

        // Image Showcases
        section.showcase
            .container-fluid.p-0.mb-5
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-1.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2.funky-font Детският център предлага
                        p.lead.mb-0
                            | Целодневно и полудневно отглеждане на деца на възраст от 1 до 5 г. в домашна обстановка, светла и просторна зала за игра, с безброй разнообразни играчки и занимания в малки групи до 10 деца.
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-2.jpg');")
                    .col-lg-6.my-auto.showcase-text
                        h2.funky-font МАЛКАТА ГРАДИНА
                        p.lead.mb-0
                            | За вашите деца ежедневно ще се грижи екип от професионалисти - възпитател, педагог и психолог.
                        p.lead.mt-3.mb-3
                            | Предлагаме само и лицензирана кухня и подбрани плодове, съобразена с възрастта на децата.
                        p.lead.mt-3.mb-3
                            | Държим на хигиената и здравето на децата, помагайки им да създават най-важните навици още от ранна детска възраст, а безопасността е техен основен приоритет.
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-3.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2.funky-font Занимания
                        p.lead.mt-3.mb-0
                            | Веднъж в седмицата дечицата посещават и солна стая, намираща се в непосредствена близост до детския център.
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-4.jpg');")
                    .col-lg-6.my-auto.showcase-text
                        h2.funky-font Занимания
                        p.lead.mb-0
                            | Всяко детенце получава подарък, съвместно с Театрална школа “Лори”, часове по театрално изкуство, които спомагат за усъвършенстването на говора, дикцията, звукоизвличането и развиват в децата възможности за ролеви игри и сценично поведение, чрез етюди и участие в пиеси.
        // Call to Action
        section#contacts.call-to-action.text-white.text-center
            .container.position-relative
                .row.justify-content-center.mt-5
                    .col-xl-8
                        h5.mb-4 За повече информация сме на разположение да отговорим на всичките ви въпроси – 0885921203
                        

        // Footer
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-start.my-auto
                        ul.list-inline.mb-2
                            li.list-inline-item
                                a(href='#!') About
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#!') Contact
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#!') Terms of Use
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#!') Privacy Policy
                        p.text-muted.small.mb-4.mb-lg-0 &copy; Your Website 2023. All Rights Reserved.
                    .col-lg-6.h-100.text-center.text-lg-end.my-auto
                        ul.list-inline.mb-0
                            li.list-inline-item.me-4
                                a(href='#!')
                                    i.bi-facebook.fs-3
                            li.list-inline-item.me-4
                                a(href='#!')
                                    i.bi-twitter.fs-3
                            li.list-inline-item
                                a(href='#!')
                                    i.bi-instagram.fs-3

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')